* {
  font-family: sans-serif;
}

#navbar {
  opacity: .7;
}

.view{
  background: #303952;
  z-index: 1;
  opacity: .70;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}



header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}


.subtitle {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.breakLine {
  width: 350px;
  border-radius: 5px;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  height: 10px;
  /* border-top: 5px solid #b43031; */
}

.title {
  color: #b43031;
  font-family: 'Tangerine'
}

.testimonial {
  font-family: 'Dancing Script', cursive;
  color: #B84C5D;
}

a {
  text-decoration: none;
 }

 /* PARALLAX */
.parallax-window {
	min-height: 400px;
  background: transparent;
}